{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1>{{ .Site.Title }}</h1>
            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
          <div class="post">
            <div class="post-content">
              <p></p>
              <p></p>
              <p>The P3LOL pool is owned by several members of the <a href="https://forum.mods.de/bb/board.php?BID=14">mods.de</a>-Community.</p>
              <p></p>
              <p>Find our pool on:</p>
              <ul>
              <li><a href="https://pool.pm/bb236318e9fe9f7b2e287dd388f9cbd32cb2e3ead404684c720c91b6">pool.pm</a></li>
              <li><a href="https://cardanoscan.io/pool/bb236318e9fe9f7b2e287dd388f9cbd32cb2e3ead404684c720c91b6">Cardanoscan</a></li>
              <li><a href="https://adapools.org/pool/bb236318e9fe9f7b2e287dd388f9cbd32cb2e3ead404684c720c91b6">ADApools</a></li>
              <li><a href="https://adastat.net/pools/bb236318e9fe9f7b2e287dd388f9cbd32cb2e3ead404684c720c91b6">AdaStat</a></li>
              <li><a href="https://pooltool.io/pool/bb236318e9fe9f7b2e287dd388f9cbd32cb2e3ead404684c720c91b6">PoolTool</a></li>
              </ul>
              <p>Our pool ID is <code>bb236318e9fe9f7b2e287dd388f9cbd32cb2e3ead404684c720c91b6</code>.</p>
            </div>
          </div>
        </div>
    </main>
{{ end }}
